spring:
  boot:
    admin:
      client:
        url: http://localhost:9001
      
management:
  endpoints:
    web:
      exposure:
        include: '*'
  endpoint:
      health:
	show-details:'always'
